:root {
    --body-bg-color: #ffdad4;
    --bg-primary: #FF735C;
    --bg-secondary: #FF735C;
    --shadow: rgba(0,0,0,0.2);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
    margin: 0;
    /* overflow: hidden; */
    font-size: 1.2em;
  }
 
img {
    width: 20em;
}
  .wrapper {
    /* max-width: 1100px; */
    margin: 15px auto;
  }
  
  /* Calendar container */
  .container-calendar {
    background: #ffffff;
    padding: 15px;

    margin: 2em;
    align-items: center;
    
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    animation: load-container 0.5s ease-in-out;
  }


  .container-calendar #left h1 {
    color: var(--bg-primary);
    text-align: center;
    /* background-color: #f2f2f2; */
    margin: 0;
    padding: 10px 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5em;
    padding: 2em;
    border-radius: 1em;
    border-style: none;
    box-shadow: 0 0 0.5em var(--shadow);
    background-color: white;
    animation: load-container 0.5s ease-in-out;
    /* height: 100%; */
}
.logo-img {
  width: 100px; /* Adjust this value as needed */
  height: auto; /* Maintain aspect ratio */
}

  #event-section input[type="date"],
  #event-section input[type="text"] {
    margin: 1em 0;
    padding: 1em 0;
  }
#event-section input{
    border-style: none;
    border-bottom: solid .1em var(--bg-primary);
    padding: 0.5em;
    width: 100%;
}
#event-section input:focus {
    outline: none;
}

  #event-section button, button {
    background: var(--bg-primary);
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
  }

  .event-marker {
    position: relative;
  }

  .event-marker::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* event tooltip styling */
  .event-tooltip {
    position: absolute;
    background-color: rgba(234, 232, 232, 0.763);
    color: black;
    padding: 10px;
    border-radius: 4px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .event-marker:hover .event-tooltip {
    display: block;
  }

  /* Reminder section styling */
  /* #reminder-section {
    padding: 10px;
    /* background: #f5f5f5; */
    /* margin: 20px 0; */
    /* border: 1px solid #ccc; */
  /* } */ 
    #left {
        margin: 2em;
    }
    
    #right{
        margin: 2em;
    }
  .container {
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    border-style: none;
    box-shadow: 0 0 0.5em var(--shadow);
    background-color: white;
}

  #reminderList {
    list-style: none;
    padding: 0;
  }

  #reminderList li {
    /* width: 100%; */
    margin: 2em;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  #delete-event{ 
    max-width: 20em;
    width: 100%;
    min-width: 1em;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 1em 2em;
    margin: 1em 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
    transition: 0.2s;
}
#delete-event {
    box-shadow: 0 0 0.5em rgba(0,0,0,0.4);
}
  /* Style for the delete buttons */
  /* #delete-event {
    background: var(--bg-primary);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    /* align-items: right; */
   

  /* Buttons in the calendar */
  .button-container-calendar button {
    cursor: pointer;
    background: var(--bg-primary);
    color: #fff;
    border: 1px solid var(--bg-primary);
    border-radius: 4px;
    padding: 5px 10px;
  }

  /* Calendar table */
  .table-calendar {
    border-collapse: collapse;
    width: 100%;
  }

  .table-calendar td,
  .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
  }

  /* Date picker */
  .date-picker.selected {
    background-color: #f2f2f2;
    font-weight: bold;
    outline: 1px dashed #d40000;
  }

  .date-picker.selected span {
    border-bottom: 2px solid currentColor;
  }

  /* Day-specific styling */
  .date-picker:nth-child(1) {
    color: red;
    /* Sunday */
  }

  .date-picker:nth-child(6) {
    color: var(--bg-primary);
    /* Friday */
  }

  /* Hover effect for date cells */
  .date-picker:hover {
    background-color: var(--bg-primary);
    color: white;
    cursor: pointer;
  }

  /* Header for month and year */
  #monthAndYear {
    text-align: center;
    margin-top: 0;
  }

  /* Navigation buttons */
  .button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
  }

  #previous {
    float: left;
  }

  #next {
    float: right;
  }

  /* Footer styling */
  .footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
  }

  .footer-container-calendar select {
    cursor: pointer;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
  }

  @media screen and (max-width:580px) {
    main{
      margin-bottom: 3em;
    }
    
  }