@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Raleway';
}
h1, .button{
    font-family: 'Poppins' !important;
    font-weight: 600;
    animation: load-container 0.5s ease-in-out 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
h2 {
    font-family: 'Poppins' !important;
    font-weight: 600;
    font-size: 1.5em;
}
p, label, span, a, select  {
    font-family: 'Raleway' !important;
    font-weight: 500;
}
