body {
    background-color: red;
}
.parent-container {
    display: flex;
    /* flex-wrap: wrap; */
    margin: auto;
    justify-content: space-evenly;

}
.register-image {
    background-color: beige;
    
}
.register-container {
    background-color: white;
    padding: 3em;
    /* height: 100vh; */
    width: auto;
}
.register-container h1{
    font-size: 3em;
    margin: 1em 0;
}
.register-container .name {
    display: flex;
}
.register-container .name label {
    display: inline-flex; 
    position: relative;
    margin-right: 0.5em;
    top:1em;
}
.register-container .name input {
    border-style: none;
    border-bottom: solid .1em black;
    padding: 0.5em;
    /* margin-right: 2em; */
}
.register-container input {
    margin-bottom: 2em;
}
.register-container input.text{
    border-style: none;
    border-bottom: solid .1em black;
    padding: 0.5em;
    width: 100%;
}
.register-container input:focus {
    outline: none;
}
.login-link {
    margin: 1em;
    text-align: center;
}
.login-link a {
    text-decoration: none;
    color: blue;
}