:root {
    font-size: 16px;
    /* font-family: 'Open Sans'; */
    --text-primary: #1a1a1a;
    --text-secondary: #ececec;
    --bg-primary: #ffb97a;
    --bg-secondary: #ec8c38;
    --transition-speed: 600ms;
  }
  
  body {
    color: #1a1a1a;
    background-color: #ffeed5;
    margin: 0;
    padding: 0;
  }
  main {
    margin-left: 5rem;
    background-color: #ffeed5;
    height:100%;
    width:calc(100% - 110px);
    margin-left: auto;
  }
  
  .navbar {
    position: fixed;
    background-color: #ff973c;
        
    transition: width 0.3s ease;
  }
  
  .navbar-nav {
    border-radius: 5em;
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
  }
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #d4c9a2;
  }
  
  .fa-secondary {
    color: #d6b55b;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }

    .card{
        width: 40%;
    }
    .cards{
        flex-direction: column;
        flex-wrap: nowrap;
    }
  }
  
  @media  only screen and (max-width: 1200px){
    .right{
        display: none;
    }
  }
  @media only screen and (max-width: 700px){
    .search-input{
        width: 200px;
    }
    .card{
        width: 40%;
    }
    .cards{
        flex-direction: column;
        flex-wrap: nowrap;
    }
  }

  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
    .screen {
        margin-left: 5px;
        justify-content: center;
      }
      .left {
        margin-left: 5%;
        height: 90%;
      }
  }
  .screen{
    margin-left: 0;
    height:100vh;
    display: flex;
    flex-direction: row;
  }
  .right{
    background-color: #ffb97a;
    height:150%;
    overflow: hidden;
    width:35%;
    margin-left: auto;
  }
  .left{
    flex-grow: 1;
    margin-left: 0px;
  }

 i{
     margin-left:25px;
 }
 
.content{
    width:100%;
    margin-left: 4%;
    overflow-y: auto;
    padding-bottom: 60px; /* Adjust according to navbar height */
    height:calc(100vh-60px);
}

 *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width:calc(50% - 50px);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);
padding:1em;
}

.cards{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
  flex-direction:row;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

button{
  padding: 0.25rem;
  background-color:#fefefe;
  border-radius:5px;
}

.buttons{
  margin-left:auto;
  margin-right:0;
  
}

.search-bar{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
}

/* To make the search button smaller */
.search-btn, .cross-btn {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    font-size: 1rem; /* Adjust as needed */
}

/* To change the flex direction of the cards within the .cards flex container */
@media (max-width: 850px) {
    .cards {
        flex-direction: column; /* Change flex direction to column */
        width: 95%;
    }
    .screen{
        width:140%;
    }
    .search-input{
        width:200px;
    }
    .search-bar{
        width:300px;
        margin-right: 0;
    }
    .card {
        width: calc(100% - 20px); /* Adjust card width */
    }
}


.search-input{
    font-size: 1.1rem;
    outline: 0;
    padding: 0 1rem 1rem 0;
    border:none;
    border-radius: 10px; 
    padding: 10px;
    padding-left: 10px;
    background-color: #d6d3d3;
}

.search-btn, .cross-btn{
    width: 40px;
    font-size: 1.1rem;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
    margin-right: 20px;
}


.search-results .card{
    margin-top: 5%;
    width:100%;
}

body {
    scrollbar-width: none; 
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  