*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: uppercase;
	text-decoration: none;
	/* font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif; */
}

header{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	padding: 30px;
}

header .logo{
	font-size: 30px;
	color: #308879;
}

header nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
}

header nav ul li{
	margin: 0 20px;
	animation: navLink .3s linear backwards;
	animation-delay: calc(.7s * var(--i));
}

header nav ul li a{
	font-size: 20px;
	color: #308879;
	transition: letter-spacing .2s;
}

header nav ul li a:hover{
	letter-spacing: 2px;
}

header nav ul li:last-child a{
	padding: 7px 50px;
	background-color: #308879;
	color: #fff;
	border-radius: 50px;
}

.container{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 40px;
	background-color: #E9E8EE;
}

.container .image{
	margin-top: 200px;
}

.container .image img{
	width: 50vw;
}

.container .content{
	margin-top: -100px;
	padding-left: 100px;
}

.container .content h1{
	color: #308879;
	font-size: 80px;
	animation: fadeIn 1s linear backwards;
}

.container .content h3{
	color: #308879;
	font-size: 44px;
	font-weight: 400;
	animation: fadeIn 1s linear backwards;
	animation-delay: .2s;

}

.container .content p{
	color: #aaa;
	font-size: 15px;
	padding: 20px 0;
	animation: fadeIn 1s linear backwards;
	animation-delay: .3s;
}

.container .content button{
	outline: none;
	border: none;
	border-radius: 50px;
	background-color: #308879;
	color: #fff;
	font-size: 17px;
	height: 40px;
	width: 180px;
	cursor: pointer;
	transition: .2s;
	animation: fadeIn 1s linear backwards;
	animation-delay: .6s;
}

.container .content button:hover{
	opacity: .8;
	letter-spacing: 2px;
}

@keyframes fadeIn{
	0%{
		transform: translateY(-150px) scale(0) rotate(45deg);
		transform-origin: left;
	}

	100%{
		transform: translateY(0px) scale(1) rotate(0deg);
		transform-origin: left;
	}
}

@keyframes navLink{
	0%{
		transform: translateY(-50px) scale(0) rotate(-45deg);
	}
}